/* 🌍 Global */
body {
  font-family: Arial, sans-serif;

  color: white;
  padding: 10px;
}

/* 🎠 Carrousel en scroll horizontal */
.carousel-container {
  overflow-x: auto; /* Permet le défilement horizontal */
  white-space: nowrap;
  scroll-snap-type: x mandatory; /* Scrolling fluide */
  -webkit-overflow-scrolling: touch; /* Meilleur scroll sur iOS */
  max-width: 100%;
}

.carousel {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.carousel img {
  max-width: 300px;
  border-radius: 10px;
  scroll-snap-align: center; /* Chaque image s'aligne au centre */
}

/* 🌱 Jardin */
.jardin-container {
  position: relative;
}

.jardin-img {
  height: auto;
  padding: 0px 50px 50px 50px;
}

.plant-icon {
  position: absolute;

  height: 60px;
  cursor: pointer;
}

/* Fenêtre d'information */
#info-box {
  display: none; /* Masqué par défaut */
  position: relative;
  margin-bottom: 40px;
}

.info-content {
  background: #809c13;
  color: white;
  padding: 15px;
  border-radius: 10px;
}

#info-box.visible {
  display: block;
}

.calendar {
  display: flex;
  justify-content: center;

  margin: 15px 0;
  flex-direction: column;
  align-items: center;
}

.calendar-row {
  display: flex;
}

.month {
  width: 25px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: white;
}

/* 🌱 Mois actifs */
.plantation {
  background-color: #dba053;
  color: white;
}

.cueillette {
  background-color: #9b7653;
  color: white;
}

/* 🗺️ Plan du jardin */
.plan-container {
  background-image: url("../images/fond_plante_detail.png");
  padding: 20px;
  margin: -20px;
}
