<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion</title>
    <link
      rel="manifest"
      href="{{ url_for('static', filename='manifest.json') }}"
    />
    <meta name="theme-color" content="#4CAF50" />
    <link
      rel="apple-touch-icon"
      href="{{ url_for('static', filename='images/icons/icon-192x192.png') }}"
    />
  </head>
  <body>
    <h2>Connexion</h2>
    <form action="{{ url_for('login') }}" method="POST">
      <input type="text" name="pseudo" placeholder="Pseudo" required />
      <input
        type="password"
        name="password"
        placeholder="Mot de passe"
        required
      />
      <button type="submit">Se connecter</button>
    </form>

    <a href="{{ url_for('register') }}">Créer un compte</a>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("/static/service-worker.js")
          .then((registration) => {
            console.log(
              "Service Worker enregistré avec succès :",
              registration
            );
          })
          .catch((error) => {
            console.log("Échec de l'enregistrement du Service Worker :", error);
          });
      }
    </script>
  </body>
</html>
